<br>

<%= form_with(model: @user, url: login_path, method: :post) do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>

<h3><%= link_to "홈", root_path %></h3>