<br>
<form action="/post/<%= @post.id %>" enctype="multipart/form-data" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <h2><input type="text" name="title" value="<%= @post.title %>" placeholder="제목"></h2>
  <h2><input type="text" name="content" value="<%= @post.content %>" placeholder="내용"></h2>
  <h2><input type="file" name="image" value="<%= @post.image %>"></h2>

  <h2><input type="submit"></h2>
</form>
<h3><a href="/">홈</a></h3>