
<h3><%= link_to "글쓰기", new_post_path if user_signed_in? %></h3>

<% @posts.each do |post| %>
  <% if post.user.discarded? %>
    <h3>(탈퇴한 유저)</h3>
  <% else %>
    <h3>글쓴이: <%= post.user.name %>
      <% post_user_id = post.user.id %>
      <% if user_signed_in? && current_user.id != post_user_id %>
        <% if current_user.followings.detect {|following| following.id == post_user_id } %>
          <%= link_to "언팔로우", "/follow/#{post_user_id}", method: :delete %>
        <% else %>
          <%= link_to "팔로우", "/follow/#{post_user_id}", method: :post %>
        <% end %>
      <% end %>
    </h3>
  <% end %>

  <h3>제목: <%= link_to post.title, post %></h3>
  <h3>내용: <%= post.content %> </h3>
  <hr>
<% end %>

<%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>


